<div class="container">
  <div *ngIf="isLoading; else detailTemplate">Loading ...</div>
  <ng-template #detailTemplate>
    <mat-card *ngIf="country; else invalidCountryTmpl">
      <mat-card-title>{{ country.name + " " + country.emoji }}</mat-card-title>
      <mat-card-subtitle>{{ country.native }}</mat-card-subtitle>
      <mat-card-content>
        <p>
          <b>Country Code:</b><span> {{ country.code }}</span>
        </p>
        <p>
          <b>Capital:</b
          ><span> {{ country.capital ? country.capital : "NA" }}</span>
        </p>
        <p>
          <b>Currency:</b
          ><span> {{ country.currency ? country.currency : "NA" }}</span>
        </p>
        <p>
          <b>Phone code:</b><span> {{ country.phone }}</span>
        </p>
      </mat-card-content>
    </mat-card>
  </ng-template>
  <button
    class="back-btn"
    mat-raised-button
    color="primary"
    (click)="onBackBtnClick()"
  >
    Back
  </button>
</div>

<ng-template #invalidCountryTmpl>
  {{ invalidCountryErrorMsg }}
</ng-template>
